@model UserHouseRole.Models.SaleHouse



<div class=" banner-buying">
    <div class=" container">
        <h3><span>Объяв</span>em</h3>
        <!---->
        <div class="menu-right">
            <ul class="menu">
                <li class="item1">
                    <a href="#"> Меню<i class="glyphicon glyphicon-menu-down"> </i> </a>
                    <ul class="cute">
                        <li class="subitem1"><a asp-controller="SaleHouses" asp-action="Index">Продажа </a></li>
                        <li class="subitem2"><a asp-controller="RentHouses" asp-action="Index">Аренда </a></li>
                        <li class="subitem2"><a asp-controller="CreditHouses" asp-action="Index">Жилищный кредит</a></li>
                        <li class="subitem3"><a asp-controller="SaleHouses" asp-action="Index">Квартиры </a></li>
                        <li class="subitem3"><a href="dealers.html">Агентство</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="clearfix"> </div>
        <!--initiate accordion-->
        <script type="text/javascript">
            $(function () {
                var menu_ul = $('.menu > li > ul'),
                    menu_a = $('.menu > li > a');
                menu_ul.hide();
                menu_a.click(function (e) {
                    e.preventDefault();
                    if (!$(this).hasClass('active')) {
                        menu_a.removeClass('active');
                        menu_ul.filter(':visible').slideUp('normal');
                        $(this).addClass('active').next().stop(true, true).slideDown('normal');
                    } else {
                        $(this).removeClass('active');
                        $(this).next().stop(true, true).slideUp('normal');
                    }
                });

            });
        </script>

    </div>
</div>
<!--//header-->
<!---->

<div class="container">

    <div class="buy-single-single">

        <div class="col-md-9 single-box">
            <p>
                <span class="bath1">
                    <h2 style="color:black">@Html.DisplayFor(model => model.KolKomnat) - комнатный, @Html.DisplayFor(model => model.Ploshad) м², @Html.DisplayFor(model => model.Uchastok) сот., @Html.DisplayFor(model => model.Street)</h2>
                </span>
            </p>
            <hr />
            <div class=" buying-top">
                <div class="flexslider">
                    <ul class="slides">
                        <li data-thumb="@("~/image/"+Model.SImageName1)">
                            <img src="@("~/image/"+Model.SImageName1)" asp-append-version="true" style="width:900px; height: 600px;" />
                        </li>
                        <li data-thumb="@("~/image/"+Model.SImageName2)">
                            <img src="@("~/image/"+Model.SImageName2)" asp-append-version="true" style="width:900px; height: 600px;" />
                        </li>
                        <li data-thumb="@("~/image/"+Model.SImageName3)">
                            <img src="@("~/image/"+Model.SImageName3)" asp-append-version="true" style="width:900px; height: 600px;" />
                        </li>
                        <li data-thumb="@("~/image/"+Model.SImageName4)">
                            <img src="@("~/image/"+Model.SImageName4)" asp-append-version="true" style="width:900px; height: 600px;" />
                        </li>
                        <li data-thumb="@("~/image/"+Model.SImageName5)">
                            <img src="@("~/image/"+Model.SImageName5)" asp-append-version="true" style="width:900px; height: 600px;" />
                        </li>
                        <li data-thumb="@("~/image/"+Model.SImageName6)">
                            <img src="@("~/image/"+Model.SImageName6)" asp-append-version="true" style="width:900px; height: 600px;" />
                        </li>

                    </ul>
                </div>
                <!-- FlexSlider -->
                <script defer src="~/js/jquery.flexslider.js"></script>
                <link rel="stylesheet" href="~/css/flexslider.css" type="text/css" media="screen" />

                <script>
                    // Can also be used with $(document).ready()
                    $(window).load(function () {
                        $('.flexslider').flexslider({
                            animation: "slide",
                            controlNav: "data-thumb"
                        });
                    });
                </script>
            </div>
            <br>
            <div class="buy-sin-single">
                <div class="col-sm-5 middle-side immediate">
                    <h4>Характеристики</h4>
                    <table>
                        <tr>
                            <td>
                                <p><span class="bath">Цена</span></p>
                            </td>
                            <td>
                                <p>  &nbsp &nbsp : &nbsp @Html.DisplayFor(model => model.Price)</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><span class="bath">Город</span></p>
                            </td>
                            <td>
                                <p>&nbsp &nbsp : &nbsp  @Html.DisplayFor(model => model.City)</p>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><span class="bath">Улица</span></p>
                            </td>
                            <td>
                                <p>&nbsp &nbsp : &nbsp @Html.DisplayFor(model => model.Street)</p>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><span class="bath">Этаж</span></p>
                            </td>
                            <td>
                                <p>&nbsp &nbsp : &nbsp @Html.DisplayFor(model => model.Floor)</p>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><span class="bath">Площадь</span></p>
                            </td>
                            <td>
                                <p>&nbsp &nbsp : &nbsp  @Html.DisplayFor(model => model.Ploshad) м²</p>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><span class="bath">Состояние</span></p>
                            </td>
                            <td>
                                <p>&nbsp &nbsp : &nbsp    @Html.DisplayFor(model => model.Sostoyanie)</p>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><span class="bath">Дом</span></p>
                            </td>
                            <td>
                                <p>&nbsp &nbsp : &nbsp  @Html.DisplayFor(model => model.TipStroenie), @Html.DisplayFor(model => model.Year) г.</p>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><span class="bath">Кол. комнат</span></p>
                            </td>
                            <td>
                                <p>&nbsp &nbsp : &nbsp @Html.DisplayFor(model => model.KolKomnat)</p>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><span class="bath">Участок</span></p>
                            </td>
                            <td>
                                <p>&nbsp &nbsp : &nbsp  @Html.DisplayFor(model => model.Uchastok)</p>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><span class="bath">Балкон</span></p>
                            </td>
                            <td>
                                <p>&nbsp &nbsp : &nbsp @Html.DisplayFor(model => model.Bolkony)</p>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><span class="bath">Интернет</span></p>
                            </td>
                            <td>
                                <p>&nbsp &nbsp : &nbsp @Html.DisplayFor(model => model.Internet)</p>

                            </td>
                        </tr>
                    </table>

                    <div class="   right-side">
                        <a asp-action="Edit" asp-route-id="@Model.SaleId" class="hvr-sweep-to-right more">Редактировать</a>
                        <a asp-action="Delete" asp-route-id="@Model.SaleId" class="hvr-sweep-to-right more">Удалить</a>
                        <a asp-action="Index" class="hvr-sweep-to-right more">Обратно к списку</a>
                    </div>
                </div>



                @*<a asp-action="Edit" asp-route-id="@Model.SaleId">Редактировать</a> |

                    <a asp-action="Delete" asp-route-id="@Model.SaleId">Удалить</a>*@


                <div class="col-sm-7 buy-sin">

                    <h4>Описание от продавца</h4>
                    <p>@Html.DisplayFor(model => model.Text)</p>

                </div>
                <br />
                <br />
                <div>
                    <div class="login-block">
                        <h5>Автор объявления</h5>
                        <p class="qwe">Контактные данные</p>
                        <p><i class="fa fa-user ti-user"></i>&nbsp <strong> @Html.DisplayFor(model => model.UserName)</strong> </p>
                        <p><i class="fa fa-phone"></i> <strong> @Html.DisplayFor(model => model.PhoneNumber)</strong></p>
                    </div>
                </div>


                <div class="clearfix"> </div>

            </div>




            <div class="map-buy-single">
                <h4>Местоположение</h4>
                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d92727.04589644192!2d76.96232747314451!3d43.424672673644636!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38836e7d16c5cbab%3A0x3d44668fad986d76!2z0JDQu9C80LDRgtGL!5e0!3m2!1sru!2skz!4v1650952685433!5m2!1sru!2skz" style="height:450px; width:850px;"></iframe>

                </div>
            </div>

        </div>




        <div class="col-md-3">
            <div class="single-box-right right-immediate">
                <h4>Выгодные приложение от сайта</h4>
                <div class="single-box-img">
                    <div class="box-img">
                        <a href="#"><img class="img-responsive" src="images/sl.jpg" alt=""></a>
                    </div>
                    <div class="box-text">
                        <p><a href="#">В центре города</a></p>
                        <a href="#" class="in-box">Больше информации</a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="single-box-img">
                    <div class="box-img">
                        <a href="#"><img class="img-responsive" src="images/sl1.jpg" alt=""></a>
                    </div>
                    <div class="box-text">
                        <p><a href="#">Оставь заявку не выходя из дома</a></p>
                        <a href="#" class="in-box">Больше информации</a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="single-box-img">
                    <div class="box-img">
                        <a href="single.html"><img class="img-responsive" src="images/sl2.jpg" alt=""></a>
                    </div>
                    <div class="box-text">
                        <p><a asp-controller="CreditHouses" asp-action="Index">Дома в ипотеку алматы</a></p>
                        <a asp-controller="CreditHouses" asp-action="Index" class="in-box">Больше информации</a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="single-box-img">
                    <div class="box-img">
                        <a asp-controller="SaleHouses" asp-action="Index"><img class="img-responsive" src="images/sl3.jpg" alt=""></a>
                    </div>
                    <div class="box-text">
                        <p><a asp-controller="SaleHouses" asp-action="Index">Уютные квартиры</a></p>
                        <a asp-controller="SaleHouses" asp-action="Index" class="in-box">Больше информации</a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="single-box-img">
                    <div class="box-img">
                        <a asp-controller="SaleHouses" asp-action="Index"><img class="img-responsive" src="images/sl4.jpg" alt=""></a>
                    </div>
                    <div class="box-text">
                        <p><a asp-controller="SaleHouses" asp-action="Index">Самые низкие цены</a></p>
                        <a asp-controller="SaleHouses" asp-action="Index" class="in-box">Больше информации</a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>

        </div>
        <div class="clearfix"> </div>
    </div>
</div>










<style>
    #expandedImg {
        width: 300px;
        height: 500px;
    }

    .column {
        padding: 1px;
    }

        /* Style the images inside the grid */
        .column img {
            opacity: 0.8;
            cursor: pointer;
        }

            .column img:hover {
                opacity: 1;
            }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    #imgtext {
        position: absolute;
        bottom: 15px;
        left: 15px;
        color: white;
        font-size: 20px;
    }

    .closebtn {
        position: absolute;
        top: 10px;
        right: 15px;
        color: white;
        font-size: 35px;
        cursor: pointer;
    }

    .qwe {
        font-family: Open Sans,sans-serif;
        color: #808080;
        margin-bottom: 20px;
    }

    .block-left {
        width: 50%;
        height: 800px;
        overflow: auto;
        float: left;
    }

    .login-block {
        background-color: #fff;
        padding: 40px;
        -webkit-box-shadow: 0 3px 50px 0 rgba(0,0,0,.2);
        box-shadow: 0 3px 50px 0 rgba(0,0,0,.1);
        border-radius: 15px;
        margin-left: 350px;
        margin-right: 50px
    }

    .login-block {
        margin-top: 350px
    }


    .block-right {
        width: 50%;
        height: 1000px;
        overflow: auto;
    }
</style>












