@model List<RentHouse>

@{
    ViewData["Title"] = "Index";
}




<div class=" banner-buying">
    <div class=" container">
        <h3><span>Аренда жилой недвижи</span>мости</h3>
        <!---->
        <div class="menu-right">
            <ul class="menu">
                <li class="item1">
                    <a href="#"> Меню<i class="glyphicon glyphicon-menu-down"> </i> </a>
                    <ul class="cute">
                        <li class="subitem1"><a asp-controller="SaleHouses" asp-action="Index">Продажа </a></li>
                        <li class="subitem2"><a asp-controller="RentHouses" asp-action="Index">Аренда </a></li>
                        <li class="subitem2"><a asp-controller="CreditHouses" asp-action="Index">Жилищный кредит</a></li>
                        <li class="subitem3"><a asp-controller="SaleHouses" asp-action="Index">Квартиры </a></li>
                        <li class="subitem3"><a href="dealers.html">Агентство</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="clearfix"> </div>
        <!--initiate accordion-->
        <script type="text/javascript">
			$(function() {
			    var menu_ul = $('.menu > li > ul'),
			           menu_a  = $('.menu > li > a');
			    menu_ul.hide();
			    menu_a.click(function(e) {
			        e.preventDefault();
			        if(!$(this).hasClass('active')) {
			            menu_a.removeClass('active');
			            menu_ul.filter(':visible').slideUp('normal');
			            $(this).addClass('active').next().stop(true,true).slideDown('normal');
			        } else {
			            $(this).removeClass('active');
			            $(this).next().stop(true,true).slideUp('normal');
			        }
			    });

			});
        </script>

    </div>
</div>
<!--//header-->
<!---->
<div class="single">
   
    <!---->
    <div class="container">
        <a asp-action="Index"> Get at all... </a>
        <div class="   right-side">
            <a asp-controller="RentHouses" asp-action="Create" class="hvr-sweep-to-right more">Подать объявление</a>

        </div>
        <div class="buy-single">
            <h3>Аренда жилой недвижимости</h3>
            <div class="box-sin">
                <div class="col-md-9 single-box">
                    <div class="box-col">
                        @{
                            for (int i = 0; i < Model.Count; i++)
                            {
                                <br />
                                <div class=" col-sm-7 left-side ">
                                    <a asp-action="Index1" asp-route-id="@Model[i].SaleId"><img asp-append-version="true" height="400" width="500" src="@("~/image/"+Model[i].RImageName1)" alt=""></a>

                                </div>
                                <div class="  col-sm-5 middle-side">
                                    <h4>@Model[i].KolKomnat - комнатный,@Model[i].City, @Model[i].Street, @Model[i].TipRent</h4>
                                    <p><span class="bath4">Количество комнат</span>:&nbsp @Model[i].KolKomnat</p>
                                    <p><span class="bath4">Площадь          </span>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp : &nbsp @Model[i].Ploshad м²</p>
                                    <p><span class="bath4">Участок          </span>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp  &nbsp &nbsp &nbsp : &nbsp @Model[i].Uchastok сот.</p>
                                    <p><span class="bath4">Цена             </span>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp : @Model[i].Price</p>
                                    <div class="   right-side">
                                        <a asp-action="Index1" asp-route-id="@Model[i].SaleId" class="hvr-sweep-to-right more">Подробнее</a>

                                    </div>
                                </div>
                                <div class="clearfix"> </div>
                            }

                        }
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 map-single-bottom">
                <div class="map-single">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11008224.282474894!2d57.9311618553116!3d47.65421846398845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38a91007ecfca947%3A0x5f7b842fe4b30e1b!2z0JrQsNC30LDRhdGB0YLQsNC9!5e0!3m2!1sru!2skz!4v1650962444426!5m2!1sru!2skz"></iframe>
                </div>
                <div class="single-box-right">
                    <h4>Выгодные приложение от сайта</h4>
                    <div class="single-box-img">
                        <div class="box-img">
                            <a href="#"><img class="img-responsive" src="images/sl.jpg" alt=""></a>
                        </div>
                        <div class="box-text">
                            <p><a href="#">В центре города</a></p>
                            <a href="#" class="in-box">Больше информации</a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="single-box-img">
                        <div class="box-img">
                            <a href="#"><img class="img-responsive" src="images/sl1.jpg" alt=""></a>
                        </div>
                        <div class="box-text">
                            <p><a href="#">Оставь заявку не выходя из дома</a></p>
                            <a href="#" class="in-box">Больше информации</a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="single-box-img">
                        <div class="box-img">
                            <a href="single.html"><img class="img-responsive" src="images/sl2.jpg" alt=""></a>
                        </div>
                        <div class="box-text">
                            <p><a asp-controller="CreditHouses" asp-action="Index">Дома в ипотеку алматы</a></p>
                            <a asp-controller="CreditHouses" asp-action="Index" class="in-box">Больше информации</a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="single-box-img">
                        <div class="box-img">
                            <a asp-controller="SaleHouses" asp-action="Index"><img class="img-responsive" src="images/sl3.jpg" alt=""></a>
                        </div>
                        <div class="box-text">
                            <p><a asp-controller="SaleHouses" asp-action="Index">Уютные квартиры</a></p>
                            <a asp-controller="SaleHouses" asp-action="Index" class="in-box">Больше информации</a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="single-box-img">
                        <div class="box-img">
                            <a asp-controller="SaleHouses" asp-action="Index"><img class="img-responsive" src="images/sl4.jpg" alt=""></a>
                        </div>
                        <div class="box-text">
                            <p><a asp-controller="SaleHouses" asp-action="Index">Самые низкие цены</a></p>
                            <a asp-controller="SaleHouses" asp-action="Index" class="in-box">Больше информации</a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
            <div class="nav-page">
                <nav>
                    <ul class="pagination">
                        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>

</div>
<!---->








